In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv("/content/drive/MyDrive/Paper1/bank.csv",sep=";")

In [3]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [4]:
df.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [5]:
x=df.drop("y",axis=1)
y=df.y

In [6]:
x=pd.get_dummies(x)

In [7]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
y=le.fit_transform(y)

In [8]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit_transform(x)

array([[0.48148148, 0.05307035, 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.49382716, 0.03029687, 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.24691358, 0.04595364, 0.        , ..., 0.        , 1.        ,
        0.        ],
       ...,
       [0.48148148, 0.03843026, 0.01818182, ..., 0.        , 1.        ,
        0.        ],
       [0.33333333, 0.08987393, 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.7037037 , 0.04859699, 0.03636364, ..., 1.        , 0.        ,
        0.        ]])

In [9]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit_transform(x)

array([[ 1.53303429,  0.01047142, -0.56592197, ..., -0.3392905 ,
         0.39770593, -0.1857    ],
       [ 1.62899323, -0.42150051, -0.56592197, ..., -0.3392905 ,
         0.39770593, -0.1857    ],
       [-0.29018564, -0.12451981, -0.56592197, ..., -0.3392905 ,
         0.39770593, -0.1857    ],
       ...,
       [ 1.53303429, -0.26722482, -0.20490853, ..., -0.3392905 ,
         0.39770593, -0.1857    ],
       [ 0.38152696,  0.70856893, -0.56592197, ..., -0.3392905 ,
         0.39770593, -0.1857    ],
       [ 3.26029527, -0.07438021,  0.15610492, ...,  2.94732687,
        -2.51442063, -0.1857    ]])

In [10]:
import numpy as np
from sklearn.model_selection import train_test_split

In [11]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2,random_state=11)

In [12]:
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LogisticRegression
model1=LogisticRegression()
model1.fit(train_x,train_y)
score1=model1.score(test_x,test_y)
y1_pred=model1.predict(test_x)
rmse1=mean_squared_error(test_y, y1_pred, squared=False)

In [13]:
from sklearn.ensemble import RandomForestClassifier
model2=RandomForestClassifier()
model2.fit(train_x,train_y)
score2=model2.score(test_x,test_y)
y2_pred=model2.predict(test_x)
rmse2=mean_squared_error(test_y, y2_pred, squared=False)

In [14]:
from sklearn.ensemble import GradientBoostingClassifier
model3=GradientBoostingClassifier()
model3.fit(train_x,train_y)
score3=model3.score(test_x,test_y)
y3_pred=model3.predict(test_x)
rmse3=mean_squared_error(test_y, y3_pred, squared=False)

In [15]:
import xgboost
from xgboost import XGBClassifier
model4=XGBClassifier()
model4.fit(train_x,train_y)
score4=model4.score(test_x,test_y)
y4_pred=model4.predict(test_x)
rmse4=mean_squared_error(test_y, y4_pred, squared=False)

In [16]:
from sklearn.ensemble import AdaBoostClassifier
model5=AdaBoostClassifier()
model5.fit(train_x,train_y)
score5=model5.score(test_x,test_y)
y5_pred=model5.predict(test_x)
rmse5=mean_squared_error(test_y, y5_pred, squared=False)

In [24]:
from sklearn import svm
model6=svm.SVC()
model6.fit(train_x,train_y)
score6=model6.score(test_x,test_y)
y6_pred=model6.predict(test_x)
rmse6=mean_squared_error(test_y,y6_pred,squared=False)

In [30]:
from sklearn.naive_bayes import GaussianNB
model7=GaussianNB()
model7.fit(train_x,train_y)
score7=model7.score(test_x,test_y)
y7_pred=model7.predict(test_x)
rmse7=mean_squared_error(test_y,y7_pred,squared=False)

In [35]:
from sklearn.neighbors import KNeighborsClassifier
model8= KNeighborsClassifier(n_neighbors=3)
model8.fit(train_x,train_y)
score8=model8.score(test_x,test_y)
y8_pred=model8.predict(test_x)
rmse8=mean_squared_error(test_y,y8_pred,squared=False)

In [36]:
from tabulate import tabulate

In [39]:
final_model= [('LogisticClassifier',score1,rmse1),
   ('RandomForestClassifier',score2,rmse2),
   ('GradientBoostingClassifier',score3,rmse3),
   ('XGBClassifier',score4,rmse4),
   ('AdaBoostClassifier',score5,rmse5),
   ('svm',score6,rmse6),
   ('Gaussian',score7,rmse7),
   ('k_neigbor',score8,rmse8)]

In [40]:
print(tabulate(final_model))

--------------------------  --------  --------
LogisticClassifier          0.9126    0.295635
RandomForestClassifier      0.915149  0.291291
GradientBoostingClassifier  0.919762  0.283263
XGBClassifier               0.918305  0.285823
AdaBoostClassifier          0.912843  0.295224
svm                         0.866715  0.365082
Gaussian                    0.866715  0.365082
k_neigbor                   0.902403  0.312404
--------------------------  --------  --------

In [41]:

dic={rmse1:score1,rmse2:score2,rmse3:score3,rmse4:score4,rmse5:score5}
max(zip(dic.values(),dic.keys()))

(0.9197620781743141, 0.28326299056828064)